
  <form class="form-horizontal stay-action" method="post" action="/ocplatform/usr/ModifyPassword:save">
    <fieldset>
      <div id="legend" class="">
        <legend class="">修改用户密码</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">旧密码</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" name="oriPassword" type="password">
            <p class="help-block">输入旧密码以确认身份</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">新密码</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" name="password" v:min="4" v:max="20" type="password">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">重复密码</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" name="password-repeat" type="password">
            <p class="help-block">重复输入密码以确认密码输入无误</p>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-inverse" type="reset">取消</button>
            <button class="btn btn-success" type="submit">修改</button>
          </div>
        </div>
        
    </fieldset>
  </form>
