<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords " content="@$model.keywords||''" />
		<meta name="description" content="@$model.description||''" />
		<title>{@ $model.title || '' }</title>

        <!-- jquery ui and bootstrap styles -->
        <link type="text/css" href="/ocframework/public/style/ocwebpage.css">
        <link type="text/css" href="/ocframework/public/lib/3party/bootstraped-2.3.1/css/bootstraped.css" rel="stylesheet">
        <link type="text/css" href="/ocframework/public/lib/3party/jquery-ui/themes/bootstrap/jquery-ui-1.10.0.custom.css" rel="stylesheet">
        <!-- HubSpot -->
        <link type="text/css" href="/ocframework/public/lib/3party/HubSpot/css/messenger.css" rel="stylesheet">
        <link type="text/css" href="/ocframework/public/lib/3party/HubSpot/css/messenger-theme-future.css" rel="stylesheet">

        <assets />
	</head>
	<body>
        <views />

        <!-- underscore, jquery, jquery ui and bootstrap -->
        <script type="text/javascript" src="/ocframework/public/lib/3party/underscore-1.4.4.js"></script>
        <script type="text/javascript" src="/ocframework/public/lib/3party/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/ocframework/public/lib/3party/bootstraped-2.3.1/js/bootstraped.min.js"></script>
        <script type="text/javascript" src="/ocframework/public/lib/3party/jquery-ui/jquery-ui.min.js"></script>

        <!-- HubSpot Message -->
        <script type="text/javascript" src="/ocframework/public/lib/3party/HubSpot/js/messenger.min.js"></script>

        <!-- opencomb frontend framework -->
        <script type="text/javascript" src="/public/frontend.js"></script>
	</body>
</html>